<div class="user-container">
  <h1>ユーザー情報</h1>
  <% if current_user.id == @user.id %>
    <%= link_to "アカウント編集", edit_user_registration_path, class: "btn btn-primary" %>
  <% end %>
  <div class="user-name-image">
    <p><%= @user.name %></p>
    <%= image_tag @user.profile_image.url %>
  </div>
  <table>
    <tbody>
      <tr>
        <th>住んでいる都道府県</th>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <th>行きたい場所</th>
        <td><%= @user.go_to_area %></td>
      </tr>
      <tr>
        <th>好きなシュチュエーション</th>
        <td><%= @user.like_situation %></td>
      </tr>
    </tbody>
  </table>
  <div class="post-contaier">
    <h2>投稿一覧</h2>
    <% @posts.each do |post| %>
      <div class="post-wrap">
        <h3><%= post.title %></h3>
        <p>シチュエーション：<%= post.situation %></p>
        <p>エリア：<%= post.area %></p>
        <% if post.recommend_image? %>
          <%= image_tag post.recommend_image.url, class: "post-image" %>
        <% end %>
        <%= link_to "詳細", post, class: "btn btn-primary btn-post" %>
        <% if current_user.id == @user.id %>
          <%= link_to "編集", edit_post_path(post), class: "btn btn-primary btn-post" %>
          <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-danger btn-post" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
