<% if user_signed_in? %>
  <div class="post-index-container">
    <h1>おすすめスポット一覧</h1>
    <%= search_form_for @q do |form| %>
      <%= form.search_field :title_or_situation_or_area_cont, placeholder: "タイトル・シチュエーション・エリア", class: "search-form" %>
      <%= form.submit "検索", class: "btn btn-info" %>
    <% end %>
    <%= render @posts %>
    <%= paginate @posts %>
  </div>
<% else %>
  <section class="masthead" role="img" aria-label="Image Description">
    <h1>休日のひとり時間を楽しみに</h1>
    <h2>休日の選択肢を広げるおでかけ情報</h2>
  </section>
<% end %>
