<h1>おすすめスポットを投稿する</h1>
<%= form_with model: @post, local: true do |form| %>
  <p><%= form.label :title, "タイトル" %> <%= form.text_field :title %></p>
  <p><%= form.label :recommend_point, "おすすめポイント" %> <%= form.text_area :recommend_point %></p>
  <p><%= form.label :situation, "シチュエーション" %> <%= form.text_field :situation %></p>
  <p><%= form.label :area, "エリア" %> <%= form.text_field :area %></p>
  <%# 画像アップロード %>
  <p>おすすめ度(1~5の中から選んでください)</p>
  <%= f.fields_for :post_valuations do |post_valuation| %>
    <p><%= post_valuation.label :access_point, "アクセス" %> <%= post_valuation.number_field :access_point, min: 1, max: 5 %></p>
    <p><%= post_valuation.label :casually_point, "気軽に行ける" %> <%= post_valuation.number_field :casually_point, min: 1, max: 5 %></p>
    <p><%= post_valuation.label :price_point, "金額" %> <%= post_valuation.number_field :price_point, min: 1, max: 5 %></p>
    <p><%= post_valuation.label :go_to_again_point, "また行きたい" %> <%= post_valuation.number_field :go_to_again_point, min: 1, max: 5 %></p>
    <p><%= post_valuation.label :one_person_point, "1人での行きやすさ" %> <%= post_valuation.number_field :one_person_point, min: 1, max: 5 %></p>
  <% end %>
  <%= form.submit "送信" %>
<% end %>
