<h1>スポット詳細</h1>
<p>ユーザー名: <%= @post.user.name %></p>
<p>タイトル <%= @post.title %></p>
<p>おすすめポイント <%= @post.recommend_point %></p>
<p>シチュエーション <%= @post.situation %></p>
<p>エリア <%= @post.area %></p>
<%# 画像がある場合は表示 %>
<% if @post.recommend_image? %>
  <p>おすすめスポット：<%= image_tag @post.recommend_image.url %></p>
<% end %>
<p>ポイント</p>
<p><%= @post.post_valuation.access_point %></p>
<p><%= @post.post_valuation.casually_point %></p>
<p><%= @post.post_valuation.price_point %></p>
<p><%= @post.post_valuation.go_to_again_point %></p>
<p><%= @post.post_valuation.one_person_point %></p>
<%# グラフ %>
<%# いいね機能 %>
<p id="post-<%= @post.id %>">
  <% if @post.liked_by?(current_user) %>
    <%= render "like", post: @post %>
  <% else %>
    <%= render "dislike", post: @post %>
  <% end %>
</p>
<%# 自分の投稿の場合は編集、削除を表示 %>
<% if current_user.id == @post.user_id %>
  <p>
    <%= link_to "編集", edit_post_path(@post) %>
    <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" } %>
  </p>
<% end %>
<p><%= link_to "おすすめスポット一覧へ", posts_path %></p>
