<h1>スポット詳細</h1>
<p>ユーザー名: <%= @post.user.name %></p>
<p>タイトル <%= @post.title %></p>
<p>おすすめポイント <%= @post.recommend_point %></p>
<p>シチュエーション <%= @post.situation %></p>
<p>エリア <%= @post.area %></p>
<%# 画像がある場合は表示 %>
<% if @post.recommend_image? %>
  <p>おすすめスポット：<%= image_tag @post.recommend_image.url %></p>
<% end %>
<%# グラフ %>
<p>ポイント</p>
<%= Gon::Base.render_data %>
<div class="base-container">
  <canvas id="radar-chart"></canvas>
</div>
<%# マップ %>
<p>場所</p>
<script>
  function initMap() {
    const position = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    const map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: position
              });
    const transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    const contentString = '場所：<%= @post.address %>';
    const infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    const marker = new google.maps.Marker({
                  position:position,
                  map: map,
                  title: contentString
                });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
<style type="text/css">
  #map { height: 400px;
        width: 500px;}
</style>
<div id="map"></div>
<%# いいね機能 %>
<p id="post-<%= @post.id %>">
  <% if @post.liked_by?(current_user) %>
    <%= render "like", post: @post %>
  <% else %>
    <%= render "dislike", post: @post %>
  <% end %>
</p>
<%# コメント機能 %>
<%= form_with model: [@post, @comment], local: true do |form| %>
  <p><%= form.label :content %> <%= form.text_area :content %></p>
  <%= form.submit "コメントする" %>
<% end %>
<p>コメント件数：<%= @comments.count %></p>
<% @comments.each do |comment| %>
  <p><%= comment.user.name %></p>
  <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
  <p><%= comment.content %></p>
  <% if comment.user == current_user %>
    <p><%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "削除しますか？" } %>
    </p>
  <% end %>
<% end %>
<%# 自分の投稿の場合は編集、削除を表示 %>
<% if current_user.id == @post.user_id %>
  <p>
    <%= link_to "編集", edit_post_path(@post) %>
    <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" } %>
  </p>
<% end %>
<p><%= link_to "おすすめスポット一覧へ", posts_path %></p>
